#menu {
    background-color: #555658;
}


 .logo{
width: 20%;

}








/*
.logo{
    background-image: url(/assets/img/logo_blanco_final_riegopro.svg);
    background-size: cover;

  width: 200px;
    height: 40px;
    justify-content: right;
padding: 0 20 0 0;

}
    



 nav {
    background: #555658;
    padding: 15px 30px;
    display: flex;
    color: white;
    justify-content: space-between;
  }

  nav .opciones {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  nav .opciones a {
    text-decoration: none;
    color: white;
  }


  
  nav .opciones :hover{
    font-weight: 900;
    color: #1E88E5;
}
  
 
 #barra .navbar{
    background-color:#555658;
    font-family: 'lato';
    color: white;
    display: flex;
    justify-content: space-evenly;
}

nav .logo{
    background-image: url(/assets/img/logo_blanco_final_riegopro.svg);
    background-size: contain;
    background-repeat: no-repeat;

    width: 10rem;
    height: 3rem;
    justify-content: left;
}


.secciones{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
nav-item a{
    text-decoration: none;
    color: white;
    
}

nav-item :hover{
    font-weight: 900;
    color: #1E88E5;
}




nav button{
    background-color: #1E88E5;
}


*/
body{
    font-family: 'lato';
    background-color: whitesmoke;
}

/*hero section*/

#hero-section{
padding: 50px 30px;
display: flex;
align-items: center;
justify-content: center;
}

#hero-section img{
    border-radius: 20px;

}

#hero-section aside{

padding: 15px;
padding-right: 0;
text-align: justify;
}

#hero-section aside h1{
font-weight: bold;
font-style: italic;
color: #1E88E5;
}

/*presentacion logo*/


#presentacion {

   background-color: white;
    
    padding: 30px 20px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px 0px 0px 0px;

}


#presentacion .logotexto{
    background-image: url(../img/logotexto.svg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 300px;
    height: 200px;
    
    flex-basis: 250px;
    max-width: 400px;
    flex-grow: 1;
    
    }

#presentacion .texto {
    color: #555658;
    display: grid;
    margin-top: 10px;

    flex-basis: 350px;
    max-width: 600px;
    flex-grow: 1;

    font-style: bold;
    font-style: italic;
    padding: 10px;
}


/* prueba */

#imagenprincipal{
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 0 0 ;   
    

}

#imagenprincipal .fondofoto{
    background-image: url(../img/riego2.jpg);
    background-size: cover;
background-position: center;
background-repeat: no-repeat;

display: flex;
align-items: flex-end;
justify-content: flex-end;


width: 1000px;
height: 380px;

flex-basis: 380px;
max-width: 1200px;
min-height: 300px;

flex-grow: 1;

}







#imagenprincipal .texto{
    font-weight: bold;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 2px #555658;
    padding: 20px;








}




/*nueva card servicios*/


#servicios{
    width: 90%;
    margin: 0 auto;

justify-content: space-between;}

#servicios h2{
    margin-top: 30px;
    margin-left: 50px;

    font-weight: bold;
    font-style: italic;
    color: #555658;

}

#servicios .servicio123{
    background-color: whitesmoke;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    max-width: 1200px;
    min-height: 350px;
    display: flex;
    align-items: center;

    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    }
    

#servicios .servicio123 .servicio1{
    background-image: url(../img/riego_1.jpg);
    background-size: cover;
    width: 350px;
    height: 300px;
    margin: auto;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;

    flex-basis: 300px;
    max-width: 450px;
    flex-grow: 1;

}

#servicios .servicio123 .servicio2{
    background-image: url(../img/riego2.jpg);
    background-size: cover;
    width: 350px;
    height: 300px;
    margin: auto;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;


    flex-basis: 300px;
    max-width: 450px;
    flex-grow: 1;
}
#servicios  .servicio123   .servicio3{
    background-image: url(../img/riego3.jpg);
    background-size: cover;
    width: 350px;
    height: 300px;
    margin: auto;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;

    flex-basis: 300px;
    max-width: 450px;
    flex-grow: 1;

}

#servicios .detalle{
    background-color: #CDDBFF;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;

}

#servicios .detalle footer{
    display: flex;
    justify-content: flex-end;    

}


#servicios .detalle  footer button{
    background-color:#62AE44;
    color: white;
    border-radius: 8px;

}

/*azul indicadores*/

#indicadores {
    background-color: #1E88E5;
    color: white;
    padding: 15px;
    margin: 30px 0px 30px 0px;
}
#indicadores .datos { 
text-align: center;
padding: 10px;
}

#indicadores .dato1 { 
padding: 5px;  
margin: auto; 
display: block;
align-items: center;

 }

#indicadores h1{
    font-weight: bold;
    font-style: italic;
}

#indicadores h5{
    font-weight: normal;
    color: whitesmoke;
}

/*seccion novedad*/





#novedad{    
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    
    }
    
#novedad .foto {
    border-radius: 15px;

}

    
#novedad aside{
    padding: 15px;
    padding-right: 0;
    text-align: justify;
 }
    
#novedad aside h1{
    font-weight: bold;
    font-style: italic;
    color: #0A84FF;
    }

/*secion clientes*/

#clientes {
    width: 90%;
    margin: 0 auto;
}

#clientes h2{
    margin-bottom: 30px;
    margin-left: 50px;

    font-weight: bold;
   font-style: oblique;
    color: #555658;
}

#clientes .cliente123{
    background-color: #CDDBFF;
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    border-radius: 10px;
    max-width: 1200px;
    min-height: 30vh;
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    flex-wrap: wrap;
    }
    

#clientes .cliente123 .cliente1{
    background-image: url(../img/persona1.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;

    flex-basis: 280px;
    max-width: 450px;
    flex-grow: 1;

}

#clientes .cliente123 .cliente2{
    background-image: url(../img/persona2.JPG);
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;

    flex-basis: 280px;
    max-width: 450px;
    flex-grow: 1;
}
#clientes  .cliente123   .cliente3{
    background-image: url(../img/persona3.jpg);
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 15px;

    flex-basis: 280px;
    max-width: 450px;
    flex-grow: 1;
}

#clientes .detalle{
    background-color: #e3edf2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;

    flex-basis: 280px;
    max-width: 300px;
    flex-grow: 1;
}


#clientes .detalle h5{
    padding: 5px;

    font-style: bold;
    text-align: center;
}

#clientes .detalle p{
    width: 90%;
    margin: 0 auto;
    padding: 10px;

    text-align: justify;


    font-style: bold;
    font-style: italic
}


#clientes .detalle footer{
    display: flex;
    justify-content: flex-end;    
}

/*metodologia verde*/


#metodo {
    
    background-color: #63C789;
    padding: 50px 20px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin: 50px 0px 0px 0px;

}

#metodo .texto{
    color: white;
    display: grid;
    margin-top: 30px;

    flex-basis: 300px;
    max-width: 700px;
    flex-grow: 1;

}

#metodo .texto h1{
    font-style: bold;
    font-style: italic;
    padding: 15px;

}


#metodo .figura1{
background-image: url(../img/noun-method-4518785.svg);
background-size: auto;
background-position: center;
background-repeat: no-repeat;

width: 300px;
height: 300px;

flex-basis: 250px;
max-width: 400px;
flex-grow: 1;

}

/*infocifras verdes*/

#infocifras{
    background-color: #E8F5E9;
    width: 100%;
    padding: 100px 0 80px 0;

   
}

#infocifras .cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


#infocifras .card {
background-color: #63C789;
    color:white;
    font-style: bold;
    border-radius: 20px;
    padding: 15px;

    gap: 20px;

    margin-bottom: 20px;

  
    }


/*contacto*/


#contacto {
    
    background-color:#CDDBFF;
    width: 90%;
    margin: 0 auto;
    padding: 30px  ;
    align-items: center;

    padding: 30px 0 0 0;
    border-radius: 10px;

    margin-top: 30px;
    margin-bottom: 30px;

}

#contacto .datoscontacto {


    margin: auto 0;
    padding: 10px 0 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;

}

#contacto .datoscontacto .ajuste{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 ;
}


#contacto h2{
    margin-bottom: 20px;
    margin-left: 50px;

    font-weight: bold;
    font-style: oblique;
    color: #555658;
}

#contacto .fotoperfil {
    background-image: url(../img/persona3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;

    background-position: center;
    width: 350px;
    height: 300px;



}

#contacto .nombre{
    padding: 20px;
    color: #555658;
    font-weight: bold;
    font-style: oblique;
    margin-left: 30px;

}


#contacto  .direccion{

    padding: 20px;
    color: #555658;
    margin-left: 30px;

}

/*footer*/

.final{
    background-color: #555658;
    font-family: 'lato';
    padding: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
}






